﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Strontie Worshop">
    <meta name="author" content="Strontie">
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/icons")
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Icons -->

    <!-- Main styles for this application -->
    <style>
        .fix-width {
            width: 100% !important;
        }
    </style>

</head>

<body class="app flex-row align-items-center">

    @Scripts.Render("~/bundles/jquery")

    @RenderBody()
    <!-- Bootstrap and necessary plugins -->

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
    @Scripts.Render("~/bundles/bower_components")
    @Scripts.Render("~/bundles/custom")
    



</body>

</html>