﻿
@{
    ViewBag.Title = "CouldNotRegisterUser";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br> <h2 class="text-error">Error</h2>
            <span class="text-error" style="margin-top:10px;"><i class="fa fa-5x fa-close"></i></span>
            <h3>Could not register the user</h3>
            @*<p style="font-size:20px;color:#5C5C5C;">
                    Thank you for verifying your Mobile No.We have sent you an email "faisalkhan.chat@gmail.com" with your details
                    Please go to your above email now and login.
                </p>
                <a href="" class="btn btn-success">     Log in      </a>
                <br><br>*@
        </div>

    </div>
</div>