﻿
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Reset Password";
}

<div class="container justify-content-center">
    <div class="row " style="padding:20px;">
        <div class="col-lg-12 text-center" id="main-container">            
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card justify-content-center">
                        <h3 class="card-header">Reset Password</h3>
                        <div class="card-block">
                            <div class="col-lg-6 " style="padding-bottom: 10px;padding-top: 10px;">
                                <div id="forgotpage">                                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img src="~/Scripts/Theme/img/logo.png" id="logo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#forgotpage').load('@ViewBag.ForgotUrl');
    });
</script>