﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    string locator = ViewBag.Locator ?? "";
    var errorlogin = TempData["ShowError"] == null  ? false : true;
    TempData["ShowError"] = null;
    var userNameExist = TempData["UsernameExist"] == null ? false : true;
    TempData["UsernameExist"] = null;
    var classInfo = (WorkshopModels.ClassInfoViewModel)ViewBag.ClassInfos;
    var regex = "@";

}

<style>
    input {
        font-size:inherit;
    }
</style>
<div class="container justify-content-center">
    <div class="row " style="padding:20px;">
        <div class="col-lg-12 text-center" id="main-container">
           <div class="row justify-content-center">
               <div class="col-md-12">
                   <div class="card justify-content-center">
                       <div id="errordiv" style="display:none">
                           <span class="danger" id="msgbrowser"></span>
                           <br />
                       </div>
                       
                       <h2 class="card-header">Class: <b>@classInfo.ClassName</b> | Starting on: <b>@classInfo.ClassStartDate</b></h2>
                   </div>
               </div>
           </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <form action="@Url.Action("Login", "Account")" method="post" autocomplete="off">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("Locator", locator, new { @id = "locatorforexisting", required = "Required" })
                       <div class="row justify-content-center" style="margin-top:10px;">
                           <div class="col-md-12">
                               <div class="card justify-content-center">
                                   <h3 class="card-header">Existing account user</h3>
                                   <div class="card-block">
                                       <div class="row">
                                           <div class="col-lg-6 " style="padding-bottom: 10px;padding-top: 10px;">
                                               <div class="">

                                                   <p class="text-muted">Account</p>
                                                   @if (errorlogin)
                                                   {
                                                       <div>
                                                           <span class="danger">Username or password invalid</span>
                                                       </div>
                                                   }

                                                   <div class="input-group mb-1">
                                                       <span class="input-group-addon">
                                                           <i class="icon-user"></i>
                                                       </span>
                                                       <input type="text" id="usernameLogin" class="form-control fix-width" name="Username" placeholder="Username">
                                                   </div>
                                                   <div class="input-group mb-2">
                                                       <span class="input-group-addon">
                                                           <i class="icon-lock"></i>
                                                       </span>
                                                       <input type="password" id="pwdLogin" class="form-control fix-width" name="Password" placeholder="Password">
                                                   </div>
                                                   <div class="row">
                                                       <div class="col-6 text-left">
                                                           <button type="submit" @*id="loginbtn"*@ class="btn btn-primary px-2">Register Now!</button>
                                                       </div>

                                                       <div class="col-6 text-right">
                                                           <button type="button" id="forgotlink" class="btn btn-link px-0">Forgot password?</button>
                                                       </div>
                                                       @if (false)
                                                       {

                                                       }
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-lg-6">
                                               <img src="~/Scripts/Theme/img/logo.png" id="logo" />
                                           </div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
            <form action="@Url.Action("Register", "Account")" method="post" id="formInfo" autocomplete="off">
                @Html.AntiForgeryToken()
                @Html.Hidden("Locator", locator, new { required = "Required" })
                <div class="row justify-content-center" style="margin-top:10px;">
                    <div class="col-md-12">
                        <div class="card justify-content-center">
                            <h3 class="card-header" style="margin-bottom: 15px;">New user</h3>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <strong>Account</strong>
                                                <small>information</small>
                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <span style="color:red" id="alertmsg"></span>
                                                        
                                                        @if (userNameExist)
                                                        {
                                                            <span style="color:red">Username already exists!</span>                                                            
                                                        }                                                        
                                                        <div class="input-group mb-1">
                                                            <span class="input-group-addon">
                                                                <i class="unlock-alt"></i>
                                                            </span>
                                                            <input type="text" class="form-control fix-width" id="UniqueKey" name="UniqueKey" placeholder="User ID" required>
                                                        </div>
                                                        
                                                        <div class="input-group mb-1">
                                                            <span class="input-group-addon">
                                                                <i class="icon-lock"></i>
                                                            </span>
                                                            <input type="password" class="form-control fix-width" id="Password" name="Password" placeholder="Password" required>
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <span class="input-group-addon">
                                                                <i class="icon-user"></i>
                                                            </span>
                                                            <input type="text" class="form-control fix-width" id="FirstName" name="FirstName" placeholder="First Name" required>
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <span class="input-group-addon">
                                                                <i class="icon-user"></i>
                                                            </span>
                                                            <input type="text" class="form-control fix-width" id="LastName" name="LastName" placeholder="Last Name" required>
                                                        </div>
                                                        <div class="input-group mb-1">
                                                            <span class="input-group-addon"></span>
                                                            <input type="text" class="form-control fix-width" id="Email" name="Email" placeholder="Email" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-sm-8">
                                        <div class="card">
                                            <div class="card-header">
                                                <strong>Personal</strong>
                                                <small>Information</small>
                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="form-group col-sm-3 text-left">
                                                                <label for="Address_1 text-left">Address</label>
                                                                <input type="text" class="form-control" name="Address1" id="Address_1" placeholder="Enter your Address">
                                                            </div>
                                                            <div class="form-group col-sm-3 text-left">
                                                                <label for="city">City</label>
                                                                <input type="text" class="form-control" name="City" id="city" placeholder="Enter your city">
                                                            </div>
                                                            <div class="form-group col-sm-3 row text-left">
                                                                <label for="select-State">State</label>
                                                                @*<select id="select-State" name="state" class="form-control input-sm" size="1">
                                                                    <option value="0">Please select</option>
                                                                    <option value="1">state #1</option>
                                                                    <option value="2">state #2</option>
                                                                    <option value="3">state #3</option>
                                                                </select>*@
                                                                @Html.DropDownList("State", (List<SelectListItem>)ViewBag.States, new { @class = "form-control input-sm", @size = "1" })
                                                            </div>
                                                            <div class="form-group col-sm-3 text-left">
                                                                <label for="zip-code">Zip Code</label>
                                                                <input type="text" name="ZIPCode" class="form-control" id="zip-code" placeholder="Zip Code">
                                                            </div>
                                                        </div>
                                                        <!--/.row-->

                                                        <div class="row">
                                                            <div class="form-group col-sm-4 text-left">
                                                                <label for="company">Company</label>
                                                                <input type="text" name="Company" class="form-control" id="company" placeholder="Enter your company name">
                                                            </div>

                                                            <div class="form-group col-sm-4 row text-left">
                                                                <label for="select-Occupation">Occupation</label>
                                                                @*<select id="select-occupation" name="select" class="form-control input-sm" size="1">
                                                                    <option value="0">Please select</option>
                                                                    <option value="1">Occupation #1</option>
                                                                    <option value="2">Occupation #2</option>
                                                                    <option value="3">Occupation #3</option>
                                                                </select>*@
                                                                @Html.DropDownList("Occupation", (List<SelectListItem>)ViewBag.Occupations, new { @class = "form-control input-sm", @size = "1" })
                                                            </div>
                                                            <div class="form-group col-sm-4 text-left">
                                                                <label for="phone">Phone</label>
                                                                <input type="tel" pattern="\d{3}[\-]\d{3}[\-]\d{4}" name="Phone" class="form-control" id="phone" placeholder="Phone">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-sm-3 text-left">
                                                                <label for="AIA">AIA Member Number</label>
                                                                <input type="text" class="form-control" name="AIA" id="AIA" placeholder="Enter your AIA Member Number">
                                                            </div>
                                                            <div class="form-group col-sm-3 text-left">
                                                                <label for="icc">ICC ID</label>
                                                                <input type="text" class="form-control" id="icc" name="ICC" placeholder="Enter your ICC ID">
                                                            </div>
                                                            <div class="form-group col-sm-3 text-left">
                                                                <label for="aibd">AIBD ID</label>
                                                                <input type="text" class="form-control" id="aibd" name="AIBD" placeholder="Enter your AIBD ID">
                                                            </div>
                                                            <div class="form-group col-sm-3 text-left">
                                                                <label for="nyid">NY ID</label>
                                                                <input type="text" class="form-control" id="nyid" name="NYID" placeholder="Enter your NY ID">
                                                            </div>
                                                        </div>
                                                        <!--/.row-->
                                                        <div class="row">
                                                            <div class="form-group col-sm-3 text-left">
                                                                <label for="flid">FL PE License</label>
                                                                <input type="text" class="form-control" id="flid" name="FLID" placeholder="Enter your FL PE License">
                                                            </div>
                                                            <div class="form-group col-sm-3 text-left">
                                                                <label for="licnumber">License Number</label>
                                                                <input type="text" class="form-control" id="licnumber" name="LicenceNumber" placeholder="Enter your License Number">
                                                            </div>
                                                        </div>
                                                        <!--/.row-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" id="submitnewreg" class="btn btn-primary active mt-1" value="Register Now!">

                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        //if (!BrowserOptimize()) {
        //    $('#errordiv').show();
        //    $('#msgbrowser').text('Your browser is not supported. Please use Chrome or Firefox browser for an optimized experience');
        //}
    });

    function validateUserName() {
        var username = $('#UniqueKey').val();
        $('#alertmsg').text('');
        if (/[!@regex#$%^&*()_+.,;?:\s]/.test(username)) {
            $('#alertmsg').text("Please don't use special characters in the username");
            return false;
        }

        var url = '@Url.Action("ValidateUsername", "Account")' + '?username=' + username;
        var exit = false;
        $.ajax({
            method: 'POST',
            url: url,
            success: function (r) {
                if (r.exist) {
                    $('#alertmsg').text('User Id already exists. Please choose a new one.');
                    exit = true;
                }
                else {
                    $('#alertmsg').text('');
                    $('#formInfo').submit();
                }
            }
        }).done(function () {
            return exit;
        });
    }

    $(document).on('focuslost', '#UniqueKey', function () {
        validateUserName();
    });



    //$('#formInfo').submit(function (event) {
    //    validateUserName();
    //    if ($('#alertmsg').text() != '') {
    //        event.preventDefault();
    //        event.stopPropagation();
    //    }
    //});

    $('#submitnewreg').click(function () {
        validateUserName();
    });

    $('#forgotlink').click(function () {
        //window.open('Url.Action("ForgotPassword", "Account")', '_blank');
        $.ajax({
            method: 'GET',
            url: '@Url.Action("ResetPasswword", "Account")',
            success: function (res) {
                window.open(res.url, '_blank')
            }
        });
    });


    function BrowserOptimize() {

        //Check if browser is Chrome or not
        if (navigator.userAgent.search("Chrome") >= 0) {
            return true;
        }
        //Check if browser is Firefox or not
        else if (navigator.userAgent.search("Firefox") >= 0) {
            return true;
        }

        return false;
    }
</script>