﻿
@{
    ViewBag.Title = "User Added To Class Success";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var classInfo = (WorkshopModels.ClassInfoViewModel)ViewBag.ClassInfos;
}

<style>
    #logo {
        height: 200px;
        margin-top: 0px;
        margin-left: 0px;
    }
</style>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br>
            <img src="~/Scripts/Theme/img/logo.png" id="logo" />
            <br/>
            <h2 class="text-success">Success</h2>
            <br/>
            <h3>Congratulations, you have successfully registered for @classInfo.ClassName on @classInfo.ClassStartDate</h3>
            @*<p style="font-size:20px;color:#5C5C5C;">
                    Thank you for verifying your Mobile No.We have sent you an email "faisalkhan.chat@gmail.com" with your details
                    Please go to your above email now and login.
                </p>
                <a href="" class="btn btn-success">     Log in      </a>
                <br><br>*@
        </div>

    </div>
</div>